*{
    margin:    0;

}

body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
}

a{
    margin: 20px;
    text-decoration: none;
    color: rgb(96, 0, 250);

}

img{
    border: 5px solid brown;
    width: 300px; ;
    height: 250px;
}

#tomandjerry{
    background: #00c789;
}
#shinchan{
    background: #fc8701;
}
#pokemon{
    background: #364491;
}

header{
    background-image: url("https://i1.faceprep.in/cartoon-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 200px;
}

h1{
    font-size: 6em;
    letter-spacing: 10px;
}

h2{
    font-size: 4em;
}

h3{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}

.cartoons{
    color: white;
    text-align: center;
    padding: 71px;

}

p{
    font-style:italic ;
    margin: 0 20vw;
    padding: 10px;
}